body {
    background-color: #f8f9fa;
    font-family: Montserrat, sans-serif;
}



.title {
    color: #53513F;
}

.subtitle {
    color: #191813;
}

.main {
    color: #C31755;
}

.text {
    color: #53513F;
}

/* .container {
    max-width: 600px;
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.hero-section {
    background: url('../images/top.png') no-repeat center center/cover;
    color: white;
    /* padding: 100px 0; */
    margin-top: 60px;
    height: 500px;

}

.custom-height {
    height: 500px;
}

.table {
    margin-top: 20px;
}

.jumbotron {
    background-color: #007bff;
    color: white;
    padding: 60px 30px;
    border-radius: 10px;
}

/* .navbar {
    margin-bottom: 20px;
} */

footer {
    background-color: #191813;
    color: white;
 
}


/* Partner Section */
.partner img {
    width: 140px;
    height: 90px;
}


/* Contact Section  */
#contact {
    margin-bottom: 100px;
}